* {
  box-sizing: border-box;
  font-family: "roboto";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  grid-template-areas: "play-field";
}

#play-field {
  position: relative;
  grid-area: play-field;
}

#block-display {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  overflow-y: scroll;
}

.block-list {
  width: fit-content;
  height: fit-content;
  position: absolute;
  opacity: 100;
}

.block-list.static {
  position: static !important;
  margin-bottom: 30px;
}

.block-list.static > .block input {
  pointer-events: none;
}

.block {
  display: flex;
  width: fit-content;
  padding: 0 2px 0 10px;
  min-height: 40px;
  min-width: 60px;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
}

.block > * {
  margin-right: 8px;
}

.block > input {
  display: inline-block;
  width: 60px;
  background-color: white;
  border: 1px black solid;
  outline: none;
  border-radius: 8px;
  color: black;
  padding-inline: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

#new-variable-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#new-variable-popup > .content {
  display: inline-block;
  position: fixed;
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#new-variable-popup input {
  width: 100%;
  outline: none;
  height: 30px;
  
}

#new-variable-popup .buttons {
  display: flex;
  margin-top: auto;
}
